<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header">My Account</div>

    <div th:replace="fragments :: links-at-account"></div>

    <div id="content">
        <div th:unless="${session.user}">
            <h3>
                Please <a th:href="@{/user/login}" th:text="'log in'"></a>
                or <a th:href="@{/user/signup}" th:text="'sign up'"></a>
                for an account.
            </h3>
        </div>

        <div th:if="${session.user}">
            <h3 th:text="${username}+'\'s account.'"></h3>


            <!--<div th:for="${user.getDatasets()}">
                <div th:each="data : ${user.getDatasets()}" th:text="ok">
                </div>
            </div>-->

            <!--<div th:for="${datasets}">
                <div th:each="data : ${datasets}" th:text="${data.getName()}">
                    <div th:for="${data.getModels()}">
                        <p th:each="model : ${data.getModels()}" th:text="model!"></p>
                </div>
            </div>-->
            
            <div th:for="${dataAndModels}">
                <div th:each="entry : ${dataAndModels.entrySet()}">
                    <div th:each="data : ${entry.getKey()}" th:text="${data.getName()}"></div>
                    <div th:each="model : ${entry.getValue()}" th:text="${model.getTestingError()}"></div>
                </div>
            </div>
            
            
        </div>


        

    </div>


    <div id="footer"></div>


</body>
</html>