<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header">Sign Up</div>

    <div th:replace="fragments :: links"></div>

    <div id="content">
        <h3>Sign up for an account.</h3>
        
        <div id="user-container">
            <form method="post" th:object="${userSignupDTO}" id="signup-form">
                <p class="errors" th:if="${#fields.hasErrors('all')}" th:errors="*{all}"></p>

                <input type="text" th:field="*{username}" placeholder="Username"/>
                <input type="password" th:field="*{password}" placeholder="Password"/>
                <input type="password" th:field="*{verifyPassword}" placeholder="Verify password"/>
                <button form="signup-form" type="submit">
                    Sign Up
                </button>
            </form>
        </div>
        
    </div>
    
    <div id="footer"></div>

</body>
</html>