<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header">Trained Model</div>

    <!--if no user-->
    <div th:replace="fragments :: links-logged-out"></div>
    <!--but, if user, .....-->

    <div id="content">
        <div class="explanation">
            <h3>This is your trained model. </h3>
            <p>
                This is the model! I hope you're happy! You're shooting for the lowest
                amount of training error and cross-validation error. Here's what that 
                means...
            </p>
        </div>

        <!--
            cross-validation cost
            training cost
            actual iterations
            trained theta0, 1
            graph with predictions
            options to save model to account, download model...

            Put recommendations about what to do......
        -->

        <div id="trained-model-container">
            <div id="left-column">
                <div class="header">Model</div>
                <div class="row">
                    <div class="label">
                        Trained theta: 
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Training error: 
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Cross-validation error: 
                    </div>
                    <div class="value">(value)</div>
                </div>

                <div class="header">Gradient Descent</div>
                <div class="row">
                    <div class="label">
                        Initial cost: 
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Actual iterations:  
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Converged:
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Cost increased:
                    </div>
                    <div class="value">(value)</div>
                </div>
               
                <div class="header">Parameters</div>
                <div class="row">
                    <div class="label">
                        Proportion of dataset in training set: 
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Size of training set:
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Size of cross-validation set: 
                    </div>
                    <div class="value">(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Initial theta:
                    </div>
                    <div class="value">(a huuuuuge list!!!!)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Alpha:
                    </div>
                    <div class="value">(a huuuuuge list!!!!)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Lambda:
                    </div>
                    <div class="value">(a huuuuuge list!!!!)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Maximum iterations: 
                    </div>
                    <div class="value">(a huuuuuge list!!!!)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Convergence level:
                    </div>
                    <div class="value">(a huuuuuge list!!!!)</div>
                </div>

                <div class="header">All Costs while Training</div>
                <div class="row">
                    <div class="value">987 987 986 8776 5765 987987 87 657 65746 4654 7
                         987987 987 987 987 987 987 98 7987 98 798 79 879 87 987 98 798 7
                         7 987 987 987 98798 79 879 87 987 987 98 798 798 7 987 98 798 79
                    </div>
                </div>


            </div>

            <div id="right-column">
                <img width=700 height=400>
            </div>

        </div>

        <!--<div>
            Model 
            Trained theta:
            Training error:
            Cross-validation error:
        </div>

        <img width=700 height=400>
        <div>
            Gradient Descent
            Actual iterations:
            Converged:
            Cost increased:
            [costs while training....]
        </div>
        <div>
            Parameters
            Proportion of dataset in training set:
            Size of training set:
            Size of cross-validation set: 
            Size of testing set: 
            Initial theta:
            Alpha: 
            Lambda:
            Maximum iterations of gradient descent: 
            Convergence level:
        </div>-->




    </div>
    <div id="footer"></div>
</body>
</html>