<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header">Trained Model</div>

    <!--if no user-->
    <div th:replace="fragments :: links-logged-out"></div>
    <!--but, if user, .....-->

    <div id="content">
        <div class="explanation">
            <h3>This is your trained model. </h3>
            <p>
                This is the model! I hope you're happy! You're shooting for the lowest
                amount of training error and cross-validation error. Here's what that 
                means...
            </p>
        </div>

        <!--
            cross-validation cost
            training cost
            actual iterations
            trained theta0, 1
            graph with predictions
            options to save model to account, download model...

            Put recommendations about what to do......
        -->

        <div id="trained-model-container">
            <div id="left-column">
                <div class="header">Model</div>
                <div class="row">
                    <div class="label">
                        Trained theta: 
                    </div>
                    <div class="value" th:text="${lr.getTrainedTheta()[0]+', '+lr.getTrainedTheta()[1]}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Training error: 
                    </div>
                    <div class="value" th:text="${lr.getTrainingError()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Cross-validation error: 
                    </div>
                    <div class="value" th:text="${lr.getCrossValError()}"></div>
                </div>

                <div class="header">Gradient Descent</div>
                <div class="row">
                    <div class="label">
                        Initial cost: 
                    </div>
                    <div class="value" >(value)</div>
                </div>
                <div class="row">
                    <div class="label">
                        Actual iterations:  
                    </div>
                    <div class="value" th:text="${lr.getActualIterations()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Converged:
                    </div>
                    <div class="value" th:text="${lr.getConverged()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Cost increased:
                    </div>
                    <div class="value" th:text="${lr.getCostIncreased()}"></div>
                </div>
               
                <div class="header">Parameters</div>
                <div class="row">
                    <div class="label">
                        Proportion of dataset in training set: 
                    </div>
                    <div class="value" th:text="${p.getTrainingProportion()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Size of training set:
                    </div>
                    <div class="value" th:text="${lr.getTrainingSize()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Size of cross-validation set: 
                    </div>
                    <div class="value" th:text="${lr.getCrossValSize()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Initial theta:
                    </div>
                    <div class="value" th:text="${p.getInitialTheta()[0]+', '+p.getInitialTheta()[1]}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Alpha:
                    </div>
                    <div class="value" th:text="${p.getAlpha()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Lambda:
                    </div>
                    <div class="value" th:text="${p.getLambda()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Maximum iterations: 
                    </div>
                    <div class="value" th:text="${p.getMaxIterations()}"></div>
                </div>
                <div class="row">
                    <div class="label">
                        Convergence level:
                    </div>
                    <div class="value" th:text="${p.getConvergenceLevel()}"></div>
                </div>

                <div class="header">All Costs while Training</div>
                <div class="row">
                    <div class="value">
                        <textarea readonly th:text="${costs}" rows=20></textarea>
                    </div>

                </div>


            </div>

            <div id="right-column">
                <img width=700 height=400>

                <div class="explanation">
                    <p>
                        If you're trying to do this, then change this. 
                    If you're trying to do this, then change this. 
                    If you're trying to do this, then change this. 
                    If you're trying to do this, then change this. 
                    If you're trying to do this, then change this. 
                    </p>
                </div>

            </div>

        </div>



        <div class="two-button-container">
            <button type="submit" th:onclick="location.href='/set-parameters'">
                Modify Parameters
            </button>

            <button type="submit" th:onclick="location.href='/set-parameters'">
                blah
            </button>
        </div>




    </div>
    <div id="footer"></div>
</body>
</html>