<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Easy Machine Learning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">Easy Machine Learning</div>

    <div id="navigation">
        <a th:href="@{/home}" th:text="'Home'"></a>
        <a th:href="@{/user/login}" th:text="'Log In'"></a>
        <a th:href="@{/user/signup}" th:text="'Sign Up'"></a>
    </div>

    <div id="content">
        <h3>Create a linear regression model of a dataset through machine learning.</h3>
        
        <div id="home-list">
            <ol>
                <li>Enter your own dataset (or use a sample dataset)</li>
                <p>Because a linear model will be trained, Y data should be continuous,
                    rather than discrete. Our site supports only univariate linear 
                    regression, so X data should be single-factor.
                </p>
                <li>View a graph of the dataset</li>
                <p>This will give you a sense of the shape of your data.</p>
                <li>Set the parameters for machine learning</li>
                <p>Or use the default parameters for the gradient descent algorithm.</p>
                <li>Receive a trained model</li>
                <p>You will see its metrics and a graph of its predictions.</p>
                <li>Repeat steps 3 and 4 as desired</li>
                <p>Play with the parameters until you've trained a good model.</p>
                <li>Test your model</li>
                <p>See how your model performs on the testing set.</p>
                <li>Download your model</li>
                <p>Use your model to make predictions about incoming data.</p>
            </ol>
        </div>

        <a class="next-page-button" th:href="@{/submit-data}">Begin</a>
        
    </div>
    <div id="footer"></div>




</body>
</html>