<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header">Set Parameters</div>

    <!--if no user-->
    <div th:replace="fragments :: links-logged-out"></div>
    <!--but, if user, .....-->

    <div id="content">
        <div class="explanation">
            <h3>Set the parameters for the machine learning algorithm. </h3>
            <p>
                Your dataset will be parsed randomly into three subsets: 60% of the data will 
                constitute the training set, 20% will constitute the cross-validation set,
                and 20% will constitute the testing set. A model will be trained on the 
                training set using a gradient descent algorithm. Select the parameters for 
                the algorithm or use the default parameters. 
            </p>
        </div>



        <div class="two-button-container">
            <button type="submit" th:onclick="location.href='/submit-data'">
                Revise Data
            </button>

            <button type="submit" th:onclick="location.href='/train-model'">
                Train Model
            </button>
        </div>


    </div>

    <div id="footer"></div>
</body>
</html>