<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <div id="header">Submit Data</div>

    <!--if no user-->
    <div th:replace="fragments :: links-logged-out"></div>

    <div id="content">
        <div class="explanation">
            <h3>Upload or enter your own dataset or use a sample dataset.
            </h3>
            <p>
                All values must be numerical and separated by whitespace, not by comma.
                The order of X values and Y values must
                be the same; each consecutive pair of values will be treated as a single example. 
                The X values should contain only one factor, e.g., 'house price' instead of
                'house price and house size'. The Y values should be continuous, e.g., 
                'temperature', 'price', or 'weight' instead of 'number of children', 'model 
                of car', or 'age group'.
            </p>
        </div>



        <div id="data-choice">
            <input th:if="${uploaded == true}" type="radio" name="data-choice" id="upload-choice" checked="checked"/>
            <input th:unless="${uploaded == true}" type="radio" name="data-choice" id="upload-choice" />
            <label for="upload-choice" class="data-choice-label">Upload data</label>

            <input type="radio" name="data-choice" id="enter-choice" />
            <label for="enter-choice" class="data-choice-label">Enter data</label>

            <input type="radio" name="data-choice" id="sample-choice" />
            <label for="sample-choice" class="data-choice-label">Use sample data</label>

            <div id="chose-upload">
                <form method="post" enctype="multipart/form-data" th:object="${dataUploadDTO}" th:action="@{/submit-data/upload}" id="upload-form" >
                    <div class="errors">
                        <p th:errors="*{xFile}"></p>
                        <p th:errors="*{yFile}"></p>
                        <p th:errors="*{name}"></p>
                        <p th:errors="*{xLabel}"></p>
                        <p th:errors="*{yLabel}"></p>
                        <p th:errors="*{itemLabel}"></p>
                    </div>
                
                    <div class="input-line">
                        <label for="xUpload">X: </label>
                        <input type="file" th:field="*{xFile}" id="xUpload" />
                    </div>

                    <div class="input-line">
                        <label for="yUpload">Y: </label>
                        <input type="file" th:field="*{yFile}" id="yUpload" />
                    </div>

                    <div class="input-line">
                        <label for="name">Name of dataset: </label>
                        <input th:field="*{name}" id="name" th:value="*{name}"/>
                    </div>

                    <div class="input-line">
                        <label for="xLabel">X label: </label>
                        <input th:field="*{xLabel}" id="xLabel" th:value="*{xLabel}"/>
                    </div>

                    <div class="input-line">
                        <label for="yLabel">Y label: </label>
                        <input th:field="*{yLabel}" id="yLabel" th:value="*{yLabel}"/>
                    </div>

                    <div class="input-line">
                        <label for="item">Item label: </label>
                        <input th:field="*{itemLabel}" id="item" th:value="*{itemLabel}"/>
                    </div>

                    <button class="next-page-button" form="upload-form" type="submit">
                        Set Parameters
                    </button>

                </form>
            </div>


            <div id="chose-enter">Chose enter</div>
            <div id="chose-sample">Chose sample</div>
        </div>
        

        

        <!--<div id="upload-button">
            <button class="next-page-button" form="upload-form" type="submit" id="show-upload-button">Set Parameters</button>
        </div>


        <a class="next-page-button" th:href="@{/set-parameters}">Set Parameters</a>-->
       
        


    </div>
    <div id="footer"></div>
</body>
</html>