<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Easy Machine Learning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">Upload Data</div>

    <div id="navigation">
        <a th:href="@{/home}" th:text="'Home'"></a>
        <a th:href="@{/home}" th:text="'Link 2'"></a>
        <a th:href="@{/home}" th:text="'Link 3'"></a>
    </div>

    <div id="content">
        <div class="explanation">
            <h3>Upload or enter your own dataset, or use a sample dataset.
                Values must be separated by whitespace, not by comma. 
            </h3>
            <p>
                All values must be numerical, and the order of X values and Y values must
                be the same; each consecutive pair of values will be treated as a single example. 
                The X values should contain only one factor, e.g., 'house price' instead of
                'house price and size'. The Y values should be continuous, e.g., 'temperature',
                'price', or 'weight' instead of 'number of children', 'model of car', or
                'age group'.
            </p>
        </div>
        


        <a class="next-page-button" th:href="@{/set-parameters}">Set Parameters</a>
        
    </div>


    <div id="footer"></div>


</body>
</html>